@model survey.Models.SurveyViewModel

@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Respondent
                </th>
                <th>
                    Birthdate
                </th>
                <th>
                    Phone
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Responses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Respondent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone.OS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <h4>New</h4>
    @using(Html.BeginForm())
    {
                <select>
                @foreach (var phone in Model.PhoneTypes)
                {
                    <option>@phone.OS</option>
                }
                </select>

    }
</div>